<div style="background-color: #F4F7FA;">
    <div style="margin: 1%;">
      <button class="btn btn-outline-primary" style="float: right">
        + Add New Screen
      </button>
            <h1 style="font-weight: 600; font-size: 25px; color: #4D4D4D;">All Employee List</h1>
    </div>
    
    <div style="margin: 1%; padding: 10px; background-color: #FFFFFF; border-radius: 10px;">
        <div style="display: flex;">
        
            <input type="text" class="form-control" style="width: 30%; margin-bottom: 5px;" >
            <button class="btn btn-sm btn-outline-success" style="margin-left: auto; height: 95%;">
              <i class="fa-solid fa-download" style="margin-right: 5px;"></i> Export Data
            </button>
          </div>
    </div>
    

  </div>

  