.rounded-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #1A629B;
    height: 50px; 
    display: flex;
    padding: 10px;
  }  
  
  .label-like {
    position: relative;
    display: inline-block;
    background-color: #b0e2ff; /* Light blue background */
    border: 1px solid #87ceeb; /* Sky blue border */
    padding: 5px 15px; /* Padding around text */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Font size */
    color: #333; /* Text color */
    cursor: pointer; /* Cursor style */
    user-select: none; /* Prevent text selection */
  }
  
  .label-like::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px; /* Adjust arrow position */
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #b0e2ff; /* Arrow color matches background */
  }
  